.new-post{
	.form{
		background: #fff;
		margin-top: 60px;
		width: 611px;
	  outline: 5px solid #fff !important;
	  border: 5px solid #fafafa;
	  .form-body{
	  	position: relative;
	  	padding-bottom: 5px;
	  	.btn-file{
	  		margin-bottom: 18px;
	  		width: 90%;
	  		border-bottom: 1px solid #eee;
	  		padding-bottom: 15px;
	  		margin-left: auto;
	  		margin-right: auto;
				.inputfile{
					display: none;
				}	  		
				.title {
					margin-top: 10px;
					margin-left: 10px;
					padding-top: 3px;
					color: #999;
					font-weight: 300;
					font-size: 16px;
				}
				.icon-add{
				  background-position: -280px -89px;
				  width: 25px;
				  margin-left: auto;
				  margin-right: 13px;
				  margin-top: 13px;
				}
	  	}
	  	.post-media{
	  		display: none;
	  		margin-top: 2px;
	  		border-top: 1px solid #eee;
	  		padding-top: 0px;
	  		width: 99%;
	  		margin-left: auto;
	  		margin-right: auto;
	  	}
	  }
	}
}

.new-post{
	.form-footer{
		padding: 10px 24px;
		border-top: 1px solid #efefef;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		display: none;
		.caption{
			border: none;
			margin-left: 18px;
			color: #999;
			width: 72%;
		}
		.btn-post {
		  width: 98px;
		  height: 31px;
		  background-color: transparent;
		  border: 1px solid rgba(32, 169, 152, 0.77);
		  color: rgba(32, 169, 152, 0.77);
		  font-size: 15px;
		  padding-top: 5px;
		  margin-top: auto;
		  margin-left: auto;
		  transition: background-color .5s;
		  :hover{
		  	background-color: rgba(32, 169, 152, 0.3);
		  }
		}
	}

}


