.post-row{
	background: #fff;
	margin-top: 60px;
	width: 600px;
	.post-header{
		height: 64px;
		width: 100%;
		padding: 14px 20px;
		.post-username {
		  color: #222;
		  margin-right: auto;
		  margin-top: 3px;
		  margin-left: 10px;
		  text-decoration: none;
		  transition: color .5s;
		  &:hover{
		  	color: rgba(32, 169, 152, 0.7);
		  }
		}
		.profile-img{
			width: 28px;
			height: 28px;
		}
		.post-time {
		  font-size: 16px;
		  font-weight: 400;
		  margin-top: 5px;
		}
	}
	.post-body{
		position: relative;
		.post-img{
			width: 600px;
			height: 600px;
		}
		.l-b-w{
			position: absolute;
			background-position: 1px -55px;
			width: 95px;
			height: 78px;
			top: 40%;
			left: 42%;
			opacity: 0;
			pointer-events: none;
			transition: opacity .6s ease;
		}
	}
	.post-footer{
		padding: 0 24px;
		.post-loves {
		  padding: 14px 0px;
		  .loves {
		  	font-size: 14px;
  	    margin-top: 10px;
  	    font-weight: 500
		  }
		}
		.username{
		  font-size: 15px;
		  color: #222;
		}
		.link-to,
		.read-more{
		  color: #222;
		  font-weight: 500;
		  margin-right: 6px;
		  text-decoration: none; 
		  transition: color .5s;
		  &:hover{
				color: #999;
		  }
		}
	}

}

.post-row{
	.post-comments{
		.view-more {
		  font-size: 14px;
		  color: #999;
		}
		.comments-list {
		  margin: 15px 0;
		  .user-comment{
		  	display: flex;
		  	font-size: 14px;
		  	margin-bottom: 5px;
		  	.link-to{
		  		color: #222;
		  		margin-right: 10px;
		  		font-weight: 600;
		  		letter-spacing: 0.6px;
		  		text-decoration: none;
		  	}
		  	.comment{
					margin-bottom: 0;
					text-transform: lowercase;
					font-weight: 400;	  		
		  	}
		  }
		}
		.react{
			border-top: 1px solid #efefef;
			padding: 20px 0;
			form{
				width: 90%;
			}
			.comment{
				border: none;
				margin-left: 18px;
				width: 100%;
				font-size: 14px;
				color: #999;
			}
		}		
	}	
}
