<div class="row">
  <nav class="navbar navbar-light bg-white">
    <div class="nav navbar-nav container flex-row">
      <%= link_to("", root_path, :class => "navbar-brand") %>
      <div class="search-bar">
        <div class="search-field flex-row">
          <div class="icon s-icon"></div>
          <input type="text" placeholder="Search" class="search-query" name="query" autocomplete="off">  
        </div>
        <div class="search-result hide-result" id="search-result"></div>
      </div>
      <%= link_to("", discovery_path, :class => "nav-item nav-link icon discover") %>
      <%= link_to("", "#", :class => "nav-item nav-link icon l-e-g") %>
      <%= link_to("", user_path(current_user), :class => "nav-item nav-link icon user") %>
    </div>
  </nav>
</div>